project:
  type: website
  output-dir: docs

website:
  title: "Florian Metwaly"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: CV_2026_GitHub.pdf
        text: Curriculum Vitae

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

execute:
  freeze: auto